/* =============
    Section 3
============= */
#section-3{
    background-image: url('img/section-3/Bird_Vase.jpg');
    background-position: center;
    background-size: cover;
    height: 510px;

    @include md {
        height: 510px;
    }

    @include lg {
        height: 680px;
    }
    
}

