/* =============
    Section 5
============= */
#section-5{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section-5 .";

    ul {
        grid-area: section-5;
        display: grid;
        grid-gap: 20px;

        @include md{
            grid-template-columns: repeat(2, 1fr);
            grid-template-columns: 50% 50%;
            grid-template-columns: 50% auto;

            grid-template-areas: 
            "gallery-1 gallery-2"
            "gallery-1 gallery-3";
        }

        li{
            img{
                width: 100%
            }
        }

        #gallery-1{
            @include md{
                grid-areas: g1;
            }
        }

        #gallery-2{
            @include md{
                grid-areas: g2;
            }
        }

        #gallery-3{
            @include md{
                grid-areas: g3;
            }
        }
    }

}