/* =============
    Section 1
============= */
#section-1 {
    background-image: url('../img/section-1/Dark_Green_Leaves.jpg');
    background-position: center;
    background-size: cover;
    color: $red;
    padding: 200px;
    
    @include md {
        height: 510px;
    }

    @include lg {
        height: 680px;
    }
    

}
