/* =============
    Section 5
============= */
#section-5{

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-5 .";  
    }

    ul{
        display: grid;
        grid-gap: 20px;
        grid-template-rows: repeat(3, 335px);

        @include md{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 340px);
            grid-template-areas:
            "holding holding"
            "holding holding"
            "roses trees";
        }

        @include xl{
            grid-area: section-5;
        }

        li{
            background-position: conter;
            background-size: cover;
        }
            
        #holding{
            background-image: url("../img/section-5/holding.jpg") ;
            @include md{
                grid-area: holding;
                background-position: center top;
            }
        }

        #roses{
            background-image: url("../img/section-5/roses.jpg") ;
            @include md{
                grid-area: roses;
            }
        }

        #trees{
            background-image: url("../img/section-5/trees.jpg") ;
            @include md{
                grid-area: trees;
            }
        } 
    }
}
