/* =============
    Footer
============= */
footer{
    background-color: $black;
    padding: 30px;
    text-align: right;
    color: $red;
    position: relative;

    p{
        position: absolute;
        right: 20px;
        bottom: 8px;
    }

}
